<h1>Select Action</h1>

<div class="row">
  <div class="col">
    <button type="button" class="btn btn-info btn-block">施設管理</button>

    <button type="button" class="btn btn-info btn-block">サポートユーザ管理</button>

    <button type="button" class="btn btn-info btn-block">システム管理者管理</button>
  </div>
</div>
